{{> head}}
{{> navbar}}
<div class="row">
    <div class="col-8">
        <h1>
            Iphone 11
        </h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem necessitatibus consequatur harum sapiente quis veritatis velit amet eligendi libero iure soluta expedita repellat odit, iste numquam voluptatum eius quod nobis!
        </p>
    </div>
</div>

<div class="col-4">
    <img src="assets/img/iphone11.png" alt="img-thumbnail">

</div>

    
{{> footer}}
    

